<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id='errorExplanation'>
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user
            from being save; </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class='field'>
      <%= f.label :email %> <br/>
      <%= f.text_field :email %>
    </div>
    <div class='field'>
      <%= f.label :password %> <br/>
      <%= f.password_field :password %>
    </div>
    <div class='field'>
      <%= f.label :password_confirmation %> <br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class='actions'>
      <%= submit_or_cancel(f) %>
    </div>
<% end %>
