<!DOCTYPE html>
<html>
<head>
  <title>TripsurfWebServer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">

</div>

<div id='main'>
  <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
  <%= content_tag :p, alert, :class => 'alert' if alert.present? %>
  <%= yield %>
</div>

<div id="footer">

</div>

</body>
</html>
